*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #FFC0F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color: #fc31e1;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    height: 520px;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.pantalla{
    background-color: #fc67e8;
    grid-column: 1 / -1; /*va hasta eñ ultimo*/
    padding: 20px;
    font-size: 50px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow-x: auto    
}

.btn{
    background-color: #fc31e1;
    color: white;
    border: 0;
    padding: 10px 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    background-color: #fc67e8;;
    border-radius: 10px;
    cursor: pointer;
}

/*para que el cero y el = ocupen más*/
#cero{
    grid-column: 1/3;
}

#igual{
    border-radius: 10px;
    grid-row: span 2;
    background-color: #b829ff;
}

#igual:hover{
    background-color: #c756ff;
}